@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Indie Flower',cursive;
}
body{
    background-color: rgba(225, 205, 152, 1);
}
header{
    display: flex;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #fff;
}
.title{
    color: #fff;
}
nav{
    flex: 1;
    text-align: center;
}
nav ul{
    list-style-type: none;
    display: inline-block;
}
nav ul li{
    display: inline-block;
    margin-right: 50px;
    font-size: x-large;
}
nav ul .home i{
    letter-spacing: 0.5em;
}
nav ul .home{
    color: #fff;
}
nav ul .about{
    color: #fff;
}
nav ul li #toggle{
    height: 20px;
    width: 60px;
    text-align: right;
    border-radius: 15px;
    border: none;
    padding-top: 2px;
    padding-right: 5px;
    box-shadow: 2px 2px 9px 1px #686060;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
header nav a.active,
header nav a:hover{
    background-color: #fff;
    color: rgba(225, 205, 152, 1);
    border-radius: 9px;
}
section{
    display: grid;
    grid-template-rows: repeat(6,100px);
    grid-template-columns: repeat(14,100px);
}
.btn{
    border: none;
    height: 30px;
    width: 100px;
    border-radius: 30px;
    box-shadow: 2px 2px 9px 1px #686060;
    font-size: larger;
    font-weight: 600;
    cursor: pointer;
    margin-top: 60px;
    margin-left: 17%;
}
.setting{
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 7;
    grid-column-end: 11;
    background-color: #ffffff05;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(25px);
    border-radius: 30px;
    box-shadow: 2px 2px 9px 1px #686060;
}
.setting h1{
    text-align: center;
    padding-top: 50px;
    font-size: x-large;
    text-decoration-line: underline;
}
form{
    position: relative;
    top: 20px;
    left: 42%;
    font-size: x-large;
}
#help{
    margin-left: 16%;
}