@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Indie Flower',cursive;
}
body{
    background-color: rgba(225, 205, 152, 1);
}
header{
    display: flex;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #fff;
}
.title{
    color: #fff;
}
nav{
    flex: 1;
    text-align: center;
}
nav ul{
    list-style-type: none;
    display: inline-block;
}
nav ul li{
    display: inline-block;
    margin-right: 50px;
    font-size: x-large;
}
nav ul .home i{
    letter-spacing: 0.5em;
}
nav ul .home{
    color: #fff;
}
nav ul .about{
    color: #fff;
}
nav ul li #toggle{
    height: 20px;
    width: 60px;
    text-align: right;
    border-radius: 15px;
    border: none;
    padding-top: 2px;
    padding-right: 5px;
    box-shadow: 2px 2px 9px 1px #686060;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
header nav a.active,
header nav a:hover{
    background-color: #fff;
    color: rgba(225, 205, 152, 1);
    border-radius: 9px;
}
section{
    display: grid;
    grid-template-rows: repeat(6,100px);
    grid-template-columns: repeat(14,100px);
}
.main{
    grid-row-start: 1;
    grid-row-end: 6;
    grid-column-start: 7;
    grid-column-end: 11;
    background-color: #ffffff05;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(25px);
    box-shadow: 2px 2px 9px 1px #686060;
    border-radius: 30px;
    border: none;
    margin-top: 50px;
}
section #tab2{
    height: 448px;
    width: 1200px;
    grid-row-start: 1;
    position: relative;
    top: 50px;
    right: 450px;
    background-color: #ffffff05;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(25px);
    box-shadow: 2px 2px 9px 1px #686060;
    border-radius: 30px;
    border: none;
}
section ul li{
    list-style-type: none;
    position: relative;
    top: 40px;
    left: 24%;
}
.btn{
    border: none;
    height: 55px;
    width: 201px;
    margin-bottom: 20px;
    border-radius: 30px;
    box-shadow: 2px 2px 9px 1px #686060;
    font-size: larger;
    font-weight: 600;
    cursor: pointer;
}
section .main .gif{
    height: 200px;
    width: 400px;
    background-image: url(/gif/giphy.gif);
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    position: relative;
    top: 75px;
    border: none;
}
.image{
    height: 300px;
    width: 25%;
    background-image: url(/images/Tic\ Tac\ Toe.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 23px;
    box-shadow: 2px 2px 9px 1px #686060;
    float: left;
    margin-top: 30px;
    margin-left: 60px;
}
.paragraph{
    height: 300px;
    width: 60%;
    float: right;
    padding-top: 30px;
    padding-right: 90px;
}
.heading{
    text-align: center;
    padding-top: 20px;
}
.helpcontent{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: #ffffff05;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(25px);
}
.content{
    background-color: rgba(225, 205, 152, 1);
    box-shadow: 2px 2px 9px 1px #686060;
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding-top: 50px;
    border-radius: 5px;
    margin-top: 170px;
}
.content .header h2{
    text-align: center;
}
.content .footer #close{
    width: 40px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 9px 1px #686060;
}
.creditcontent{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: #ffffff05;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(25px);
}
.profileCard{
    background-color: rgba(225, 205, 152, 1);
    box-shadow: 2px 2px 9px 1px #686060;
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding-top: 50px;
    border-radius: 5px;
    margin-top: 170px;
}
.profileCard .body img{
    border-radius: 9px;
}
.profileCard .body{
    margin-left: 37%;
}
.profileCard .body h3{
    font-weight: 600;
    font-size: x-large;
}
.profileCard .body p{
    font-weight: 600;
    font-size: large;
}
.profileCard .body a{
    margin-left: 35px;
    font-size: large;
    color: #000;
}
.profileCard .footer #close1{
    width: 40px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 9px 1px #686060;
}